{
    "name": "@alfalab/icons-{{package-name}}",
    "version": "1.0.0",
    "license": "MIT",
    "dependencies": {},
    "peerDependencies": {
        "react": "^16.13.0 || ^17.0.1",
        "react-dom": "^16.13.0 || ^17.0.1"
    },
    "main": "./index.js",
    "module": "./esm/index.js",
    "publishConfig": {
        "access": "public"
    }
}
