name: TEST_CI

on:
  push:
    branches: [ ci-test ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - run: yarn install
    - run: yarn add --dev alfa-ui-primitives@latest
    - run: yarn generate
    
    - name: commit changes
      uses: github-actions-x/commit@v2.5
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'ci-test'
        commit-message: 'feat(*): add new icons'
        force-add: 'false'
        files: .
        name: dmitrsavk
        email: dmitrsavk@yandex.ru
    
    - run: npm i -g lerna
    
    - run: git config --global user.email "dmitrsavk@yandex.ru" 
    - run: git config --global user.name "dmitrsavk" 

    - run: lerna version patch --no-push --yes
    
    - run: yarn build
    
    - run: lerna publish from-git --contents dist --yes
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

    - run: yarn version --patch --no-commit-hooks
    - run: version=echo yarn version

    - run: yarn publish dist --new-version $version
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

    - run: cp dist/package.json package.json
    
    - name: commit changes
      uses: github-actions-x/commit@v2.5
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'ci-test'
        commit-message: 'chore(*): update version'
        force-add: 'false'
        files: package.json
        name: dmitrsavk
        email: dmitrsavk@yandex.ru
